# Dependency folders
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production builds
dist/
build/



# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
